<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hao.dao.AuditorMapper">

    <insert id="addAuditor" parameterType="Auditor">
        insert into trade.register_auditor(auditorAccount,userAccount,constructDate) values (#{auditorAccount},#{userAccount},#{constructDate})
    </insert>

    <select id="queryAuditorByAAccount" resultType="Auditor">
        select* from register_auditor where status=0 and auditorAccount=#{auditorAccount}
    </select>
</mapper>